<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbw.lottery.infrastructure.dao.RuleTreeDao">

    <resultMap id="ruleTreeMap" type="com.xbw.lottery.infrastructure.po.RuleTree">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="treeName" column="tree_name" jdbcType="VARCHAR"/>
            <result property="treeDesc" column="tree_desc" jdbcType="VARCHAR"/>
            <result property="treeRootNodeId" column="tree_root_node_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryRuleTreeByTreeId" resultMap="ruleTreeMap">
        SELECT id, tree_name, tree_desc, tree_root_node_id, create_time, update_time
        FROM rule_tree
        where id = #{id}
    </select>

    <select id="queryTreeSummaryInfo" resultMap="ruleTreeMap">
        SELECT id, tree_name, tree_desc
        FROM rule_tree
        where id = #{id}
    </select>
</mapper>
