<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbw.lottery.infrastructure.dao.IStrategyDetailDao">

    <resultMap id="StrategyDetailMap" type="com.xbw.lottery.infrastructure.po.StrategyDetail">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="strategyId" column="strategy_id" jdbcType="BIGINT"/>
            <result property="awardId" column="award_id" jdbcType="BIGINT"/>
            <result property="awardCount" column="award_count" jdbcType="INTEGER"/>
            <result property="awardRate" column="award_rate" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="queryStrategyDetailList" resultType="com.xbw.lottery.infrastructure.po.StrategyDetail">
        SELECT id, strategy_id, award_id, award_count, award_rate, create_time, update_time
        FROM strategy_detail
        WHERE strategy_id = #{strategyId}
    </select>


</mapper>
