<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbw.lottery.infrastructure.dao.IUserStrategyExportDao">

    <resultMap id="userStrategyExportMap" type="com.xbw.lottery.infrastructure.po.UserStrategyExport">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="uId" column="u_id" jdbcType="VARCHAR"/>
        <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
        <result property="orderId" column="order_id" jdbcType="BIGINT"/>
        <result property="strategyId" column="strategy_id" jdbcType="BIGINT"/>
        <result property="strategyMode" column="strategy_mode" jdbcType="TINYINT"/>
        <result property="grantType" column="grant_type" jdbcType="TINYINT"/>
        <result property="grantDate" column="grant_date" jdbcType="TIMESTAMP"/>
        <result property="grantState" column="grant_state" jdbcType="INTEGER"/>
        <result property="awardId" column="award_id" jdbcType="BIGINT"/>
        <result property="awardType" column="award_type" jdbcType="TINYINT"/>
        <result property="awardName" column="award_name" jdbcType="VARCHAR"/>
        <result property="awardContent" column="award_content" jdbcType="VARCHAR"/>
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="mqState" column="mq_state" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <insert id="insert" parameterType="com.xbw.lottery.infrastructure.po.UserStrategyExport">
        INSERT INTO user_strategy_export
        (u_id, activity_id, order_id, strategy_id, strategy_mode,
         grant_type, grant_date, grant_state, award_id, award_type,
         award_name, award_content, uuid, mq_state, create_time, update_time)
        VALUES
            (#{uId},#{activityId},#{orderId},#{strategyId},#{strategyMode},
             #{grantType},#{grantDate},#{grantState},#{awardId},#{awardType},
             #{awardName},#{awardContent},#{uuid},#{mqState},now(),now())
    </insert>

    <select id="queryUserStrategyExportByUId" parameterType="java.lang.String" resultMap="userStrategyExportMap">
        SELECT id, u_id, activity_id, order_id, strategy_id, strategy_mode,
               grant_type, grant_date, grant_state, award_id, award_type,
               award_name, award_content, uuid, mq_state, create_time, update_time
        FROM user_strategy_export
        WHERE u_id = #{uId}
    </select>

    <update id="updateUserAwardGrantState" parameterType="com.xbw.lottery.infrastructure.po.UserStrategyExport">
        UPDATE user_strategy_export SET grant_state = #{grantState}, grant_date = now(), update_time = now()
        WHERE u_id = #{uId} AND order_id = #{orderId} AND award_id = #{awardId}
    </update>

    <update id="updateInvoiceMqState" parameterType="com.xbw.lottery.infrastructure.po.UserStrategyExport">
        UPDATE user_strategy_export SET mq_state = #{mqState}, update_time = now()
        WHERE u_id = #{uId} AND order_id = #{orderId}
    </update>


    <select id="scanInvoiceMqState" resultMap="userStrategyExportMap">
        SELECT u_id, order_id, award_id, award_type, award_name, award_content
        FROM user_strategy_export
        WHERE mq_state = 2 OR ( mq_state = 0 AND now() - create_time > 1800000 )
    </select>

</mapper>
